{% extends 'base.html' %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
{% block body %}
<!-- Page header with logo and tagline-->
        <header class="py-3 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-3">
                    <h1 class="fw-bolder">Forum Anasayfası, Hoşgeldiniz!</h1>
                    <p class="lead mb-0">Flask ve Bootstrap Forum Sitesi Örneği</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            {% if current_user.is_authenticated %}
            <div class="row">
                <div class="col-lg-10">
                    <a class="btn btn-success" href="/addTopic">Yeni Konu Oluştur</a>
                </div>
            </div>
            <br>
            {% endif %}
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-12">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="small text-muted">May 25, 2021</div>
                            <h2 class="card-title">Açıklama!</h2>
                            <p class="card-text">Bu forum sitesi örneği deneme amaçlı oluşturulmuştur. Privia Security Staj Programı kapsamında istenilen örnek bir ödev olarak oluşturulmuştur. Sitenin kaynak kodlarına github sayfası üzerinden ulaşılabilir...</p>
                            <a class="btn btn-primary" href="/about">Tamamını Göster →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">

                        {% if veri %}
                        {% for i in veri %}
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="small text-muted">{{i[5][:10]}}</div>
                                    <h2 class="card-title h4">{{i[2]}}</h2>
                                    <p class="card-text">{{i[3][:150]}}...</p>
                                    <a class="btn btn-primary" href="/post/{{i[0]}}">Tamamını Göster →</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                            <p class="lead mb-0">Flask ve Bootstrap Forum Sitesi Örneği</p>
                        {% endif %}
                    </div>
                    <!-- Pagination-->
                    <!-- <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav> -->
                </div>
                
        {% endblock %}