{% extends 'base.html' %}

{% block body %}
<!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{veri[2]}}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{veri[5][:16]}} by {{veri[6]}}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="https://github.com/RegaipKURT/" target="_blank">GitHub Project Page</a>
                        </header>
                        <!-- Preview image figure-->
                        {% if current_user.isModerator or current_user.id == veri[1] %}
                        <section class="mb-5">
                            <a href="/deleteTopic/{{veri[0]}}" class="btn btn-block mybtn btn-danger tx-tfm">
                                Konuyu Sil
                                <img class="rounded-circle" width="24" src="{{ url_for('static', filename='img/trash.png') }}" alt="delete">
                            </a>
                            {% if veri[4] ==1 %}
                            <a href="/sealTopic/{{veri[0]}}" class="btn btn-block mybtn btn-warning tx-tfm">
                                Yoruma Kapat
                            </a>
                            {% else %}
                                <a href="/openTopic/{{veri[0]}}" class="btn btn-block mybtn btn-success tx-tfm">
                                    Yoruma Aç
                                </a>
                            {% endif %}
                        </section>
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{veri[3]}}</p>
                        </section>
                    </article>

                    {% if current_user.id == veri[1] %}
                        <section class="mb-5">
                            <a href="/editTopic/{{veri[0]}}" class="btn btn-block mybtn btn-warning tx-tfm">
                                Düzenle
                            </a>
                        </section>
                    {% endif %}
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                {% if current_user.is_authenticated and veri[4] == 1 %}
                                <form action="/addComment/{{ veri[0] }}" method="POST" class="mb-4">
                                    <textarea required name="comment" class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                                    <br>
                                    <button type="submit" class="btn btn-block mybtn btn-primary tx-tfm">Yorum Yap</button>
                                </form>
                                {% else %}
                                <div class="text-muted fst-italic mb-2">Bu başlık yorumlara kapatılmış veya yorum yapmak için  giriş yapmanız gerekiyor!</div>
                                {% endif %}

                                <!-- Single comment-->
                                {% if messages %}
                                {% for msg in messages %}
                                <div class="d-flex">
                                    <div class="col-lg-11">
                                        <!-- <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div> -->
                                        <div class="ms-3">
                                            <div class="fw-bold">{{ msg[5] }}</div>
                                            {{ msg[3] }}
                                        </div>
                                    </div>
                                    {% if current_user.id == msg[1] or current_user.isModerator %}
                                    <div class="col-lg-1 offset-right-0">
                                        <a class="btn btn-danger pull-right" href="/deleteComment/{{msg[0]}}">
                                            <img class="rounded-circle" width="24" src="{{ url_for('static', filename='img/trash.png') }}" alt="delete">
                                        </a>
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                {% else %}
                                <div class="text-muted fst-italic mb-2">Henüz yorum yapılmadı!</div>
                                {% endif %}
                            </div>
                        </div>
                    </section>
                </div>
               
        {% endblock %}