{% extends 'base.html' %}

{% block body %}         
<!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Profil Sayfası: {{ username }}</h1>
                        </header>
                        <h2 class="fw-bolder mb-4 mt-5">Oluşturulan Başlıklar</h2>
                       <!-- Post content-->
                        <section class="mb-5">
                            {% if topics %}
                            <ul>
                                {% for topic in topics %}
                                <li>
                                    <a href="/post/{{topic[0]}}">{{topic[2]}}</a> 
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <div class="text-muted fst-italic mb-2">Hiç başlık oluşturulmadı!</div>
                            {% endif %}
                        </section>
                        <h2 class="fw-bolder mb-4 mt-5">Yapılan Yorumlar</h2>
                       <!-- Post content-->
                        <section class="mb-5">
                            {% if messages %}
                            <ul>
                                {% for message in messages %}
                                <li>
                                    <a href="/post/{{message[2]}}">{{message[3]}}</a> 
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <div class="text-muted fst-italic mb-2">Hiç yorum yapılmadı!</div>
                            {% endif %}
                        </section>
                    </article>
                </div>
        {% endblock %}